/* body {
  background-color: aqua;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.orange-color {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
/* main style */
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background: url("../images/developer.png"), url("../images/header_bg.png"),#fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
nav {
  width: 71%;
  max-width: 1140px;
  border: 1px solid red;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
#banner {
  border: 1px solid red;
  margin: 46px 38px 0 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#banner .banner-content {
  max-width: 580px;
  border: 1px solid green;
}
#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#banner img {
  max-width: 584px;
  vertical-align: middle;
}
